
@{
    ViewBag.Title = "Product Administration";
}

<div ng-app="storeAdminApp">
    <div ng-view></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/storeAdminApp")
}
