@model ZG.Store.Presentation.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "ZGStore: Products";
}

@section rightColumn {

    <h1>Right Column Content on Products Page</h1>
}

@foreach (var prod in Model.Products)
{
    Html.RenderPartial("ProductSummary", prod);
}

@Html.Action("Paging", "ChildAction", new{action = "List", controller = "Product", currentCagetory = Model.CurrentCategory, currentPageNumber = Model.CurrentPageNum, totalPages = Model.TotalPages})
