@{
    ViewBag.Title = "Store Administration";
}

<div ng-app="storeAdminApp">
    <div ng-view></div>
    <a href="#/home">Back to Home</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/storeAdminApp")
    @Scripts.Render("~/bundles/uibootstrap")
}
