body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.prod-image{
    width: 
}

.imgbox {
float: left;
text-align: center;
width: 120px;
height: 130px;
border: 1px solid gray;
margin: 4px;
margin-bottom: 8px;
padding: 0px;
}

.thumbnail {
width: 110px;
height: 90px;
margin: 3px;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }

.tab-content > .active {
  border: 1px solid #DDD;
  border-top: none;
}
