<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message} ${exception}"/>
  <variable name="long" value="Date: ${longdate}${newline}Level: ${level}${newline}Source: ${logger}${newline}Call site: ${callsite:includeSourcePath=true:fileName=true}${newline}${newline}Message: ${message:separator=&#13;&#10;}${newline}Exception: ${exception:separator=&#13;&#10;:innerExceptionSeparator=&#13;&#10;:maxInnerExceptionLevel=10:format=Type,Message,StackTrace:innerFormat=Type,Message,StackTrace}${newline}${newline}${newline}Machine name: ${machinename}${newline}Process name: ${processname}${newline}Base dir: ${basedir} "/>
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" archiveFileName="${basedir}/logs/${shortdate}.{#####}.log" layout="${long}" archiveAboveSize="512000" archiveNumbering="Rolling"  />
    </target>
    <target xsi:type="Debugger" name="Debug" layout="${brief}" />
    <target name="cc" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${brief}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="emCC" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${brief}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="email"
            xsi:type="Mail"
            layout="${long}"
            html="false"
            addNewLines="true"
            subject="${level} - ServiceBus Exception on ${machinename} - ${processname}"
            to="webapps@gz.com"
            from="webapps@gz.com"
            smtpServer="1.1.1.1"
            smtpPort="25" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="eMarketer.*" minlevel="Trace" writeTo="emCC" />
    <logger name="Default" minlevel="Trace" writeTo="emCC" />
    <logger name="NServiceBus.*"  minlevel="Info" writeTo="cc" />
    <logger name="*" minlevel="Error" writeTo="Debug" />
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="email" />
  </rules>
</nlog>