@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-container">
    <div class="col">
        @RenderBody()
    </div>
</div>

@section featured {
    @RenderSection("featured", false)
}

@section scripts {
    @RenderSection("scripts", false)
}
