@model ZG.Domain.DTO.ProductBriefInfo

<div class="item">
    <div>@Html.ActionLink(Model.Name, "Details", "Product", new{id = Model.Id}, null) </div>
    <div>@Model.Description </div>
    <div>@Html.ActionLink(Model.Price.ToString("c"), "Details", "Product", new{id = Model.Id}, null) </div>
</div>
