

<h2>Product List</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Sale Price</td>
        <td>Active</td>
        <td></td>
    </tr>
    <tr ng-repeat="prod in products.Products">
        <td>{{prod.Id}}</td>
        <td>{{prod.Name}}</td>
        <td>{{prod.Description}}</td>
        <td>{{prod.Price}}</td>
        <td>{{prod.SalesPrice}}</td>
        <td>{{prod.Active}}</td>
        <td>
            <div ng-show="prod.Active">
                <input type="button" ng-click="go('/product/edit/' + prod.Id)" value="Edit" />
                <input type="button" ng-click="deactivateProd(prod)" value="Deactivate" />
            </div>
            <div ng-show="!prod.Active">
                Inactive
            </div>
            <div ng-show="isDeactivateFailed(prod.Id)">
                Unable to deactivate product. We are fixing it.
            </div>
        </td>
    </tr>
</table>