

<h2>Product List</h2>
<a href="#/product/create">Create New Product</a> <br />

Filter by:
<select ng-model="filterByStatus" ng-change="getProducts()">
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
</select>

<table>
    <tr>
        <td><a href="" ng-click="predicate='Id';reverse=!reverse">Id</a></td>
        <td><a href="" ng-click="predicate='Name';reverse=!reverse">Name</a></td>
        <td><a href="" ng-click="predicate='Description';reverse=!reverse">Description</a></td>
        <td><a href="" ng-click="predicate='Price';reverse=!reverse">Price</a></td>
        <td><a href="" ng-click="predicate='SalePrice';reverse=!reverse">Sale Price</a></td>
        <td><a href="" ng-click="predicate='Active';reverse=!reverse">Active</a></td>
        <td></td>
    </tr>
    <tr ng-repeat="prod in products.Products | orderBy:predicate:reverse">
        <td>{{prod.Id}}</td>
        <td>{{prod.Name}}</td>
        <td>{{prod.Description}}</td>
        <td>{{prod.Price}}</td>
        <td>{{prod.SalesPrice}}</td>
        <td>{{prod.Active}}</td>
        <td>
            <div ng-show="prod.Active">
                <input type="button" ng-click="go('/product/edit/' + prod.Id)" value="Edit" />
                <input type="button" ng-click="deactivateProd(prod)" value="Deactivate" />
            </div>
            <div ng-show="!prod.Active">
                <input type="button" ng-click="activateProd(prod)" value="Activate" />
            </div>
            <div ng-show="isDeactivationFailed(prod.Id)">
                Unable to deactivate product. We are fixing it.
            </div>
            <div ng-show="isActivationFailed(prod.Id)">
                Unable to activate product. We are fixing it.
            </div>
        </td>
    </tr>
</table>