<h2>Supplier List</h2>

<button ng-click="add()">New</button>

<form name="spForm" class="css-form" novalidate>
    <table>
        <tr>
            <td><a href="" ng-click="predicate='Id';reverse=!reverse">Id</a></td>
            <td><a href="" ng-click="predicate='Name';reverse=!reverse">Name</a></td>
            <td><a href="" ng-click="predicate='ShippingCost';reverse=!reverse">Shipping Cost</a></td>
            <td>Active</td>
        </tr>
        <tr ng-repeat="sp in shippingProviders | orderBy:predicate:reverse">
            <td>{{sp.Id}}</td>
            <td>
                <div>
                    <input type="text" name="Name" ng-model="sp.Name" required >
                    <div ng-show="spForm.Name.$dirty && spForm.Name.$invalid">Name is required</div>
                </div>
            </td>
            <td>
                <div>
                    <input type="text" ng-model="sp.ShippingCost" name="shippingCost{{$index}}" required ng-pattern="pattern.decimal">
                    <div ng-show="spForm.shippingCost{{$index}}.$error.required">Shipping Cost is Required</div>
                    <div ng-show="spForm.shippingCost{{$index}}.$error.pattern">Invalid Shipping Cost</div>
                </div>
            </td>
            <td>
                <div>
                    Yes <input type="radio" ng-model="sp.Active" ng-value="true" required>
                    No <input type="radio" ng-model="sp.Active" ng-value="false" required>
                </div>
            </td>
        </tr>
    </table>

    <button ng-click="save()" ng-disabled="spForm.$invalid">Save</button>
    <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
</form>
