<h2>Create/Edit Supplier</h2>
<form name="supplierForm" class="css-form" novalidate>
    <div>
        Id: {{sup.Id}}
    </div>
    <div>
        Supplier Name: <input type="text" name="Name" ng-model="sup.Name" required />
        <div ng-show="supplierForm.Name.$dirty && supplierForm.Name.$invalid">Supplier Name is required</div>
    </div>
    <div>
        Is Active: Yes <input type="radio" ng-model="sup.Active" ng-value="true" name="IsActive" required>
        No <input type="radio" ng-model="sup.Active" ng-value="false" name="IsActive" required>
        <div ng-show="supplierForm.IsActive.$dirty && supplierForm.IsActive.$invalid">Is Active is Required</div>
    </div>
    <div>
        Contact First Name: <input type="text" name="ContactFName" ng-model="sup.ContactFName" required />
        <div ng-show="supplierForm.ContactFName.$dirty && supplierForm.ContactFName.$invalid">Contact First Name is required</div>
    </div>
    <div>
        Contact Last Name: <input type="text" name="ContactLName" ng-model="sup.ContactLName" required />
        <div ng-show="supplierForm.ContactLName.$dirty && supplierForm.ContactLName.$invalid">Contact Last Name is required</div>
    </div>
    <div>
        Contact Title: <input type="text" name="ContactTitle" ng-model="sup.ContactTitle" />
    </div>
    <div>
        Address 1: <input type="text" name="Address1" ng-model="sup.Address1" ng-required="true" />
        <div ng-show="supplierForm.Address1.$dirty && supplierForm.Address1.$invalid">Address 1 is required</div>
    </div>
    <div>
        Address 2: <input type="text" name="Address21" ng-model="sup.Address2"/>
    </div>
    <div>
        City: <input type="text" name="City" ng-model="sup.City" required />
        <div ng-show="supplierForm.City.$dirty && supplierForm.City.$invalid">City is required</div>
    </div>
    <div>
        State: <input type="text" name="State" ng-model="sup.State" required />
        <div ng-show="supplierForm.State.$dirty && supplierForm.State.$invalid">State is required</div>
    </div>
    <div>
        Zip Code: <input type="text" name="Zip" ng-model="sup.Zip" required ng-pattern="pattern.zip"/>
        <div ng-show="supplierForm.Zip.$error.required">Zip Code is required</div>
        <div ng-show="supplierForm.Zip.$error.pattern">Invalid Zip Code</div>
    </div>
    <div>
        Country: <input type="text" name="Country" ng-model="sup.Country" required />
        <div ng-show="supplierForm.Country.$dirty && supplierForm.Country.$invalid">Country is required</div>
    </div>
    <div>
        Phone: <input type="text" name="Phone" ng-model="sup.Phone" required ng-pattern="pattern.phone" />
        <div ng-show="supplierForm.Phone.$dirty && supplierForm.Phone.$error.required">Phone is required</div>
        <div ng-show="supplierForm.Phone.$dirty && supplierForm.Phone.$error.pattern">Invalid phone format</div>
    </div>
    <div>
        Fax: <input type="text" name="Fax" ng-model="sup.Fax" ng-pattern="pattern.phone" />
        <div ng-show="supplierForm.Fax.$dirty && supplierForm.Fax.$error.pattern">Invalid fax format</div>
    </div>
    <div>
        Email: <input type="text" name="Email" ng-model="sup.Email" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="pattern.email" />
        <div ng-show="supplierForm.Email.$error.required">Email is required</div>
        <div ng-show="supplierForm.Email.$error.pattern">Invalid email</div>
    </div>
    <div>
        Website: <input type="text" name="Website" ng-model="sup.WebSite" />
    </div>
    <div>
        Note: <textarea name="Note" ng-model="sup.Note" />
    </div>
    <button ng-click="saveSupplier()" ng-disabled="supplierForm.$invalid">Save</button>
</form>

<div ng-show="isSaveSuccessful">Supplier saved successfully.</div>
<div ng-show="errors">
    <div>Errors:</div>
    <ul ng-repeat="error in errors">
        <li>{{error}}</li>
    </ul>
</div>
